{% extends 'base.html' %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <div class="container">
        <h2><b>{{ task.title|title }}</b></h2>
        <div>
            <p>{{ task.content }}</p>
        </div>
        <p><a type="submit" href="{% url 'update_url' pk=task.pk %}">Update</a>
        <a type="submit" href="{% url 'delete_url' pk=task.pk %}">Delete</a></p>
        <form action="{% url 'prior_url' pk=task.pk %}" method="post">
            {% csrf_token %}
            {{ form.priority }}
            <input type="submit" value="Change priority">
        </form>
    </div>

{% endblock %}